.header {
    position: relative;
    border-bottom: solid 1px #999;
}

.header__inner {
    font-family: serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.header__inner a {
    text-decoration: none;
    color: #000;
}

.header__logout {
    position: absolute;
    top: 50%;
    right: 40px;
    border: solid 1px #999;
    padding: 5px 10px;
}

.admin__heading {
    font-family: serif;
    text-align: center;
}

.admin__content {
    margin: 0 auto;
    width: 70%;
    max-width: 1230px;
}

.admin__input {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.admin__input-text {
    width: 35%;
}

.admin__input-text input {
    width: 100%;
    padding: 5px 10px;
    background-color: #eee;
    border: 1px solid #999;
}

.admin__input-select {
    padding: 5px;
    background-color: #eee;
    border: 1px solid #999;
}

.admin__input-search {
    padding: 5px 10px;
    background-color: #000;
    border: 1px solid #000;
    color: #FFF;
}

.admin__input-reset {
    padding: 5px 10px;
    background-color: #999;
    border: 1px solid #999;
    color: #FFF;
}

.admin__export {
    padding: 5px 10px;
    background-color: #eee;
    border: 1px solid #eee;
}

.table {
    width: 100%;
}

.table__header {
    background-color: #000;
    color: #FFF;
}

.table__header th {
    padding: 10px;
    text-align: left;
}

.table__description td {
    padding: 10px;
    text-align: left;
}

.table__description-detail {
    padding: 5px 10px;
    background-color: #eee;
    border: 1px solid #999;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal__content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 50px 30px 20px 30px;
    background-color: #FFF;
    border: 1px solid #999 ;
    box-shadow: 5px 5px 3px #333;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border: 1px solid #999;
    border-radius: 50%;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
}

.modal__table {
    width: 100%;
}

.modal__table-row {
    margin-bottom: 10px;
}

.modal__table th,
.modal__table td {
    text-align: left;
}

.modal__button {
    margin-top: 30px;
    text-align: center;

}

.modal__button-delete {
    padding: 5px 10px;
    background-color: #F00;
    color: #FFF;
    border: none;
    cursor: pointer;
}