.header {
    position: relative;
    border-bottom: solid 1px #999;
}

.header__inner {
    font-family: serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.header__inner a {
    text-decoration: none;
    color: #000;
}

.header__login {
    position: absolute;
    top: 0;
    right: 40px;
    padding: 5px 10px;
    background-color: #eee;
    border: solid 1px #999;
}

.header__login a {
    font-family: serif;
    text-decoration: none;
    color: #000;
}

.main {
    background-color: antiquewhite;
    padding: 30px 0;
    height: 100%;
}

.register__heading {
    font-family: serif;
    text-align: center;
}

.register__heading h2 {
    margin: 0 0 30px 0;
}

.register__content {
    margin: 0 auto;
    width: 50%;
    max-width: 1230px;
    padding: 30px 50px;
    background-color: #FFF;
    border: solid 1px #999;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}
.form-label {
    display: block;
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
    padding: 10px 20px;
    background-color: #eee;
    border: none;
}

.register-button {
    text-align: center;
    
}

.register-submit {
    margin-top: 20px;
    padding: 5px 20px;
    background-color: #000;
    color: #FFF;
    border: none;
}
