.header {
    border-bottom: solid 1px #999;
}

.header__inner {
    font-family: serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.header__inner a {
    text-decoration: none;
    color: #000;
}