.contact-form {
    margin-bottom: 30px;
}

.contact-form__content {
    margin: 0 auto;
    width: 70%;
    max-width: 1230px;
}

.contact-form__heading {
    font-family: serif;
    text-align: center;
}

.contact-table {
    width: 100%;
    border-collapse: collapse;
}

.contact-table__header {
    width: 40%;
    padding: 10px 20px;
    text-align: left;
    font-weight: 400;
    background-color: #666;
    color: #FFF;
    border: 1px solid #999;
}

.contact-table__item {
    width: 60%;
    padding: 10px 20px;
    border: 1px solid #999;
}

.contact-table__item input {
    border: none;
    width: 100%;
}

.form__button {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.contact-form__button-submit {
    padding: 5px 20px;
    margin-right: 20px;
    background-color: #000;
    color: #FFF;
    border: none;
    cursor: pointer;
}

.correction-form__button {
    padding: 5px 20px;
    background-color: #FFF;
    color: #000;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}


