.header {
    border-bottom: solid 1px #999;
}

.header__inner {
    font-family: serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.header__inner a {
    text-decoration: none;
    color: #000;
}

.contact-form__content {
    font-family: serif;
    margin: 0 auto;
    width: 70%;
    max-width: 1230px;
}

.contact-form__heading {
    text-align: center;
}

.contact-form__group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-form__group-title {
    width: 30%;
}

.form__label--item {
    color: #F00;
}

.contact-form__group-name {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.contact-form__item {
    padding: 10px 5px;
    width: 45%;
    background-color: #eee;
    border: none;
    color: #999;
}

.contact-form__group-gender {
    display: flex;
}

.contact-form__item-gender {
    margin-right: 20px;
}

.contact-form__group-email {
    width: 60%;
}

.contact-form__item-email {
    width: 100%;
    padding: 10px 5px;
    background-color: #eee;
    border: none;
    color: #999;
}

.contact-form__group-number {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.contact-form__item-number {
    width: 30%;
    padding: 10px 5px;
    background-color: #eee;
    border: none;
    color: #999;
}

.contact-form__group-address,
.contact-form__group-building,
.contact-form__group-kinds,
.contact-form__group-content {
    width: 60%;
}

.contact-form__item-address,
.contact-form__item-building {
    width: 100%;
    padding: 10px 5px;
    background-color: #eee;
    border: none;
    color: #999;
}

.contact-form__item-kinds {
    padding: 10px 5px;
    background-color: #eee;
    border: none;
    color: #999;
}

.contact-form__item-content {
    width: 100%;
    height: 100px;
    padding: 10px 5px;
    background-color: #eee;
    border: none;
    color: #999;
}

.form__button {
    text-align: center;
}

.form__button-submit {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #000;
    color: #FFF;
    border: none;
}