.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 100;
}

.message__sentence {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
}

.message__link {
    padding: 10px 30px;
    background-color: #000;
    color: #FFF;
    font-family: 'Times New Roman',Times,serif;
    text-decoration: none;
    border: none;
}

.background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    font-size: 20vw;
    color: #eee;
    font-family: 'Times New Roman', Times, serif;
    z-index: 10;
}